.forget-create-link{
    margin-top: 50px;
    margin-left: 95px;
    font-size: 13px;
}
.create-link {
    margin-left: 10px;
    color: blue;
    font-size: 15px;
    text-transform:unset;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.forget-link {
    box-sizing: border-box;
    font-family: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  .sign-up {
    font-size: 14px;
    margin-left: 70px;
  }
  .sign_up {
    margin-top: 50px;
  }

.login_title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 600;
    color: rebeccapurple;
}