{% extends "partials/base_auth.html" %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "css/reset_password.css" %}">

<div class="row">
    <div class="card">
        <div class="card-title">
            <h4 class="login_title">Enter your email</h4>
        </div>
            <form action="{% url 'request-password' %}" method="post">{% csrf_token %}

                <div class="invalid_feedback" style="display: none;"></div>
                <p class='text-sm text-success usernameSuccessOutput'></p>
                <div class="form-group">
                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Email" 
                    id="emailField"
                    value="{{values.email}}"
                    class="form-control form-control-sm">
                </div>
                <input type="submit" value="Submit" class="sign_up">
                <div class="forget-create-link">
                    <p>Have an account?<a href="{% url 'login' %}" class="create-link">Login</a><br></p>
                </div>
                <div class="sign-up">
                    <p>Don't Have an account?<a href="{% url 'login' %}" class="create-link">Sign up</a><br></p>
                </div>
          </form>
    </div>
</div>
<script src="{% static "js/register.js" %}" ></script>

{% endblock %}
